<h1>Wall Rental Request Confirmed</h1>

<p>

Wall Name: <%= @wall.name%>
<br>
Start Date: <%= @wallrentalrequest.start_date %>
<br>
End Date: <%= @wallrentalrequest.end_date %>
<br>
Status: <%= @wallrentalrequest.status %>

<br>
</p>