<head>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Piazzolla:wght@200;500&display=swap" rel="stylesheet">
</head>

<h1>Wall Rental Site</h1>

<p>
This is a test site built by Neka Kerr to demonstrate her coding skills. It is intended
for street artists to schedule time for their curated mural on a given wall.
</p>

<p>
The 
</p>

<ol>
    <% @walls.each do |wall| %>
        <li>
            <a href="<%= wall_url(wall) %>">              
             <%= wall.name %>
            </a>
        </li>
    <% end %>
</ol> 