<h1>Add Wall to Collection</h1>

<%= render 'form', wall: @wall%>


<!-- <form action="/walls" method="post">
    <label for="name">Name</label>
    <input for="name" type="text" name="wall[name]">


<br><br>

<label for="wall_material">Wall Material:</label>

<select name="wall[wall_material]">
    <option disabled selected>--Please Choose an Option--</option>
    <option value="brick">brick</option>
    <option value="concrete">concrete</option>
    <option value="wood">wood</option>
    <option value="cement">cement</option>
    <option value="clay">clay</option>
</select> 

<br><br>

    <label for="size">Size:</label>
    <input type="radio" name="wall[size]" value="small">
    <label for="small">Small</label>
    
    <input type="radio" name="wall[size]" value="medium">
    <label for="medium">Medium</label>

    <input type="radio" name="wall[size]" value="large">
    <label for="large">Large</label>

<br><br>

<label for="construction">Construction Date:</label>

<input type="date" id="construction" name="wall[construction_date]"
       value="2020-08-26"
       min="2000-01-01" max="2020-08-26">

<br><br>

<label for="description">Description:</label>

<textarea id="description" name="wall[description]"
    row="5" col="33">

</textarea>

<br><br>

<input type="submit" value="Send Request">
</form> -->

    